<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_zurbink: Templates/Theme/Content.html [begin] -->

		<!--TYPO3SEARCH_begin-->
		<table class="row">
			<tbody><tr>
				<td class="wrapper">
					<table class="six columns">
						<tr>
							<td>
								<f:cObject typoscriptObjectPath="lib.content.main" />
							</td>
							<td class="expander"></td>
						</tr>
					</table>
				</td>
				<td class="wrapper last">
					<table class="six columns">
						<tr>
							<td class="panel">
								<h6>Header Thing</h6>
								<p>Sub-head or something</p>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
							</td>
							<td class="expander"></td>
						</tr>
					</table>
					<br>
					<table class="six columns">
						<tr>
							<td class="panel">
								<h6 style="margin-bottom:5px;">Connect With Us:</h6>
								<table class="tiny-button facebook">
									<tr>
										<td>
											<a href="#">Facebook</a>
										</td>
									</tr>
								</table>
								<hr>
								<table class="tiny-button twitter">
									<tr>
										<td>
											<a href="#">Twitter</a>
										</td>
									</tr>
								</table>
								<hr>
								<table class="tiny-button google-plus">
									<tr>
										<td>
											<a href="#">Google +</a>
										</td>
									</tr>
								</table>
								<br>
								<h6 style="margin-bottom:5px;">Contact Info:</h6>
								<p>Phone: <b>408.341.0600</b></p>
								<p>Email: <a href="mailto:hseldon@trantor.com">hseldon@trantor.com<script cf-hash="f9e31" type="text/javascript">
									/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></p>
							</td>
							<td class="expander"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--TYPO3SEARCH_end-->

		<!-- theme_zurbink: Templates/Theme/Content.html [end] -->
	</f:section>
</div>