<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:layout name="Default" />
	<f:section name="Default">
		<!-- theme_zurbink: Templates/Theme/Content.html [begin] -->

		<!--TYPO3SEARCH_begin-->
		<table class="row">
			<tbody><tr>
				<td class="wrapper">
					<table class="six columns">
						<tr>
							<td>
								<f:cObject typoscriptObjectPath="lib.content.main" />
							</td>
							<td class="expander"></td>
						</tr>
					</table>
				</td>
				<td class="wrapper last">
					<table class="six columns">
						<tr>
							<td class="panel">
								<h6>Header Thing</h6>
								<p>Sub-head or something</p>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
								<hr>
								<table>
									<tr>
										<td>
											<a href="#">Just a Plain Link »</a>
										</td>
									</tr>
								</table>
							</td>
							<td class="expander"></td>
						</tr>
					</table>
					<br>
					<table class="six columns">
						<tr>
							<td class="panel">
								<h6 style="margin-bottom:5px;">Connect With Us:</h6>
								<f:render partial="Socialmedia/List" section="Default" />
								<br>
								<f:render partial="Area/Contact" />
							</td>
							<td class="expander"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!--TYPO3SEARCH_end-->

		<!-- theme_zurbink: Templates/Theme/Content.html [end] -->
	</f:section>
</div>