<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width"/>

		<style type="text/css">

{f:cObject(typoscriptObjectPath: 'lib.inkcssfile')}

		</style>
		<style type="text/css">

			/* Your custom styles go here */
			.header {
				background-color: silver;
			}

		</style>
	</head>
	<body>
		<table class="body">
			<tr>
				<td class="center" align="center" valign="top">
					<center>

						<table class="row header">
							<tbody><tr>
								<td class="center" align="center">
									<center>
										<table class="container">
											<tr>
												<td class="wrapper last">
													<table class="twelve columns">
														<tr>
															<td class="six sub-columns">
																<img src="http://placehold.it/200x50">
															</td>
															<td class="six sub-columns last" style="text-align:right; vertical-align:middle;">
																<span class="template-label">BASIC</span>
															</td>
															<td class="expander"></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
									</center>
								</td>
							</tr>
							</tbody>
						</table>

						<table class="container">
							<tr>
								<td>
									<f:render partial="Content/Feature" />

									<f:render section="Default" />

									<f:render partial="Content/Extended" />

									<f:render section="Footer" optional="1" />
								</td>
							</tr>
						</table>

					</center>
				</td>
			</tr>
		</table>
	</body>
</html>