{namespace theme=KayStrobach\Themes\ViewHelpers}

<table class="row footer">
	<tr>
		<td class="wrapper">
			<table class="six columns">
				<tr>
					<td class="left-text-pad">
						<h5><f:translate key="socialmedia_connect"/></h5>
						<f:render partial="Socialmedia/List" section="Default" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
		<td class="wrapper last">
			<table class="six columns">
				<tr>
					<td class="last right-text-pad">
						<h5><f:translate key="contact_info"/></h5>
						<f:render partial="Area/Contact" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row links">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
							<p style="...">
								<f:if condition="{theme:constant(constant:'themes.configuration.pages.imprint')}">
									<f:then>
										<f:link.page pageUid="{theme:constant(constant:'themes.configuration.pages.imprint')}">
											<f:translate key="imprint_label"/> &#124;
										</f:link.page>
									</f:then>
								</f:if>
								<f:if condition="{theme:constant(constant:'themes.configuration.pages.privacy')}">
									<f:then>
										<f:link.page pageUid="{theme:constant(constant:'themes.configuration.pages.privacy')}">
											<f:translate key="privacy_label"/> &#124;
										</f:link.page>
									</f:then>
								</f:if>
								<f:if condition="{theme:constant(constant:'themes.configuration.pages.registration')}">
									<f:then>
										<f:link.page pageUid="{theme:constant(constant:'themes.configuration.pages.registration')}">
											<f:translate key="unsubscribe_label"/>
										</f:link.page>
									</f:then>
								</f:if>
							</p>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>