{namespace theme=KayStrobach\Themes\ViewHelpers}

<table class="row footer">
	<tr>
		<td class="wrapper">
			<table class="six columns">
				<tr>
					<td class="left-text-pad">
						<h5>Connect With Us:</h5>
						<f:render partial="Socialmedia/List" section="Default" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
		<td class="wrapper last">
			<table class="six columns">
				<tr>
					<td class="last right-text-pad">
						<f:render partial="Area/Contact" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
							<p style="text-align:center;">
								<f:if condition="">
									<a href="#">Terms</a>
								</f:if>
								<f:if condition="">
									<a href="#">Privacy</a>
								</f:if>
								<f:if condition="">
									<a href="#">Unsubscribe</a>
								</f:if>
							</p>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>