{namespace theme=KayStrobach\Themes\ViewHelpers}

<table class="row footer">
	<tr>
		<td class="wrapper">
			<table class="six columns">
				<tr>
					<td class="left-text-pad">
						<h5>Connect With Us:</h5>
						<f:render partial="Socialmedia/List" section="Default" />
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
		<td class="wrapper last">
			<table class="six columns">
				<tr>
					<td class="last right-text-pad">
						<h5>{theme:constant(constant:'themes.configuration.footer.address')}</h5>
						<p>Phone: {theme:constant(constant:'themes.configuration.header.phone')}</p>
						<p>Email: <a href="mailto:{theme:constant(constant:'themes.configuration.footer.email')}">{theme:constant(constant:'themes.configuration.footer.email')}<script cf-hash="f9e31" type="text/javascript">
							/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a></p>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td align="center">
						<center>
							<p style="text-align:center;"><a href="#">Terms</a> | <a href="#">Privacy</a> | <a href="#">Unsubscribe</a></p>
						</center>
					</td>
					<td class="expander"></td>
				</tr>
			</table>
		</td>
	</tr>
</table>