{namespace theme=KayStrobach\Themes\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
	<f:section name="Default">
		<!-- theme_bootstrap: Partials/Socialmedia/FollowTwitter.html [begin] -->

		<f:if condition="{theme:constant(constant:'themes.configuration.socialmedia.useTwitter')}">
			<f:render partial="Tools/Button" arguments="{class:'twitter', caption: '<f:translate key=\'follow_twitter\' />', uriVar:'themes.configuration.socialmedia.twitterUsername'}" />
		</f:if>

		<!-- theme_bootstrap: Partials/Socialmedia/FollowTwitter.html [end] -->
	</f:section>
</div>